body{
    background-image: url("b.jpg");
    background-size: cover;
    background-position: center;
    font-family: Georgia, serif;
}


.nav{
    position: absolute;
    top: 20px;
    right: 30px;
}

.nav a{
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: rgb(64, 7, 7);
    color: white;
    font-size: 16px;
}


.admin{
    position: absolute;
    top: 150px;
    text-align: center;
    left: 850px;
    font-size: 60px;
    color:rgb(0, 0, 0);
}


.menu{
    position: relative;
    top: 260px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.list{
    background-color:rgb(196, 214, 33);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
}

.list img{
    width: 280px;
    height:280px;
    border-radius: 15px;
}
 

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #460808; 
    color: rgb(87, 68, 18); 
    text-align: center;
    font-family: Arial, sans-serif; 
    padding: 10px;
}

